body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #800020; /* Burdeos */
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-content {
    flex: 1;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #800020; /* Burdeos */
}

header .subtitle {
    color: #555;
    margin: 5px 0;
    font-style: italic;
}

header p {
    margin: 5px 0;
}

header a {
    color: #800020; /* Burdeos */
    text-decoration: none;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #800020; /* Burdeos */
    border-bottom: 2px solid #800020; /* Burdeos */
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.skills li {
    background-color: #e0e0e0;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
}

.job, .education, .project {
    margin-bottom: 20px;
}

.job h3, .education h3, .project h3 {
    margin: 0;
    color: #800020; /* Burdeos */
}

.project p a {
    color: #800020; /* Burdeos */
}
footer {
    background-color: #800020; /* Burdeos */
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #800020; /* Burdeos */
}

footer a {
    color: white; /* Color del enlace */
    text-decoration: none; /* Quitar subrayado */
    font-weight: bold; /* Hacer el texto del enlace negrita */
    border-bottom: 1px solid white; /* Línea inferior para resaltar */
    padding-bottom: 2px; /* Espacio entre el texto y la línea inferior */
}

footer a:hover {
    color: #f4f4f4; /* Color más claro al pasar el cursor */
    border-bottom: 1px solid #f4f4f4; /* Línea inferior más clara al pasar el cursor */
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

